<div class="Container my-5 text-center">
    <h1>COVID-19.TN</h1>
    <img src="https://udevcrewebusinesssolutions.web.app/assets/imgs/logo.png" width="180px">
    <p>PowredBy <br/><strong>UDEV CREWE BUSINESS SOLUTIONS</strong></p>


    <div class="my-5">
        <div class="row">
            <div class="col-sm-12">
                <div class="developer-bloc">
                    <img class="avatar" src="https://media-exp1.licdn.com/dms/image/C4D03AQGU1k0Ra6MUDA/profile-displayphoto-shrink_100_100/0?e=1590019200&v=beta&t=XBHgSPgHdFP6EO3IIWjiTlJVOg07NX8av3a_9gOFrRc" width="150px">
                    <h5>CHOURABI Taher</h5>
                    <p>SOFTWARE ENGINEER & PROJECT OWNER</p>
                    <a href="https://tn.linkedin.com/in/taher-chourabi-270749140"><i class="fab fa-linkedin-in"></i> LinkedIn</a> 
                </div>
            </div>

        </div>

    </div>
</div>